body
{
    background: #000000;  /* fallback for old browsers */
    font-family: 'Imperial Script', cursive;


}
img
{
    object-fit: cover;
}
.top
{
    color: maroon;
    background-color:whitesmoke;
    font-size: 30px;
    border-radius: 0 0 5px 5px;
}   
.braand
{
    text-align: center;
}
.main
{
    padding: 10px;
}
.memetext1
{
    color: red;
    float: left;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;

    font-size: 30px;
}
.memetext2
{
    float: right;
    color: red;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.memetext3
{
    font-size: 15px;
    color: red;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;

}
#headpic
{
    width: 100%;
}
.meme
{
    margin: 20px;
    
    height: 60vh;
    padding: 5px;

   
}
.meme:hover
{
    box-shadow: white;
}
.memepics1
{
    width: 20%;
    float: right;
    position: relative;
    height: 80%;
    margin: 20px;
    
}
.memepics2
{
    float: left;
    width: 40%;
    height: 60%;
    margin: 10px;
    text-align: center;

}

@media(max-width:900px)
{
    .meme
    {
        margin-top: 50px;
        margin : 50px auto;
        height: 80vh;
    }
    .memepics1
    {
        float:none;
        width:70%;
        height: 50%;
    }
    .memepics2
    {
        float: none;
        width: 70%;
        height: 50%;
    }
    .memetext1
    {
        float: none;
    }
    .memetext2
{
    float:none;
}
    
}